.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    border-top: 10px solid #ffc0cb44;
    justify-content: space-between;
    background-color: #c72576; /* Set your preferred background color */
    padding: 10px;
    color: white;
  }
  
  .left {
    display: flex;
    align-items: center;
  }
  
  .right {
    display: flex;
    align-items: center;
    
  }
  .spacer {
    width: 20px; /* Adjust the width as needed for your desired space */
    display: inline-block;
  }  