.login-panel {
    border: 1px solid #c72576;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffffc9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .login-button {
    background-color: #000000;
    color: #fff;
    padding: 5px 50px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .login-button:hover {
    background-color: #0056b3;
  }
  